<!-- links to all pages -->
<ul dir="auto">
  {% for item in site.data.navigation %}
  <li>
    <a href="{{ item.link }}" {% if page.url contains item.link %}class="current-page" {% endif %}>{{ item.name }}</a>
    <!-- {{ page.url }} -->
  </li>
  {% endfor %}
</ul>

<!-- contact information -->
<ul class="downloads">
  <li>+41 78 239 3914<strong>phone</strong>
  </li>
  <li>
    <a aria-label="Chat on WhatsApp" href="https://wa.me/41782393914?text=I%27m%20interested%20to%20hire%20you." target="_blank">
      <img alt="Chat on WhatsApp" src="/assets/images/WhatsAppButtonGreenSmall.svg" />
      <strong>WhatsApp</strong>
    </a>
  </li>
</ul>
