<!-- links to all pages -->
<ul dir="auto">
  {% for item in site.data.navigation %}
  <li>
    <a href="{{ item.link }}" {% if page.url contains item.link %}class="current-page" {% endif %}>{{ item.name }}</a>
    <!-- {{ page.url }} -->
  </li>
  {% endfor %}
</ul>

<hr>

<!-- contact information -->
{% if site.email %}
<p class="view"><a href="mailto:{{ site.email }}">E-Mail <small>{{ site.email }}</small></a></p>
{% endif %}

<hr>

<p class="view"><a href="#">Phone <small>+41 78 239 3914</small></a></p>

<p class="view">
  <a aria-label="Chat on WhatsApp" href="https://wa.me/41782393914?text=I%27m%20interested%20to%20hire%20you." target="_blank">
    <img alt="Chat on WhatsApp" src="/assets/images/WhatsAppButtonGreenSmall.svg" />
  </a>
</p>
