.current-page {
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul {
    padding-inline-start: 20px;
}

img.photo {
    border-radius: 50px;
}

img.qr {
    height: 80%;
    width: 80%;
    max-width: 200px;
    max-height: 200px;
    border: 6px solid darkslategrey;
    border-radius: 6px;
}
